    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        @import './styles/header.scss';
        @import './styles/main.scss';
        @import './styles/footer.scss';
        @import './mixin/mixin.scss';
        @import './styles/about.scss';
        @import './styles/carousel.scss';
        @import './styles/donation.scss';
        @import './styles//green.scss';
        @import './styles/landscape.scss';
    }


    @media screen and (max-width: 1100px) {
        header {

            nav {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                #home {
                    display: none;
                }

                #about {
                    display: none;
                }

                #con {
                    display: none;


                }
            }

        }

        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .box1 {
                img {
                    display: none;
                }
            }

            .box2 {
                img {
                    display: none;
                }
            }

            .box3 {
                img {
                    display: none;
                }
            }

            .about {
                img {
                    display: none;
                }

                .project {
                    display: none;

                    p {
                        display: none;
                    }
                }
            }

            .landscape {
                .scape {
                    max-width: 800px;
                    display: flex;
                    flex-direction: column;

                    img {
                        width: 320px;
                        height: 240px;
                    }

                    p {
                        max-width: 800px;
                    }
                }

            }


        }

    }

    @media screen and (max-width: 800px) {

        section {

            min-width: 320px;

            header {
                min-width: 320px;

                // nav {
                //     display: none;
                // }

                h1 {
                    width: 50px;
                    height: 50px;
                }

            }

            main {
                .box1 {
                    img {
                        max-width: 200px;
                    }

                    p {
                        display: none;
                    }
                }

                .box2 {
                    img {
                        max-width: 200px;
                    }

                    p {
                        display: none;
                    }
                }

                .box3 {
                    img {
                        max-width: 200px;
                    }

                    p {
                        display: none;
                    }
                }

                .about {
                    display: none;

                }

                .donation {
                    min-width: 320px;
                    height: 300x;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: start;
                }

                .landscape {
                    .scape {
                        max-width: 320px;
                        display: flex;
                        flex-direction: column;

                        p {
                            max-width: 320px;
                        }
                    }

                }

                .green {
                    .future {
                        display: flex;
                        flex-direction: column;

                        p {
                            max-width: 320px;
                        }
                    }

                }
            }




        }

    }