* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body header {
  width: 100%;
  height: 150px;
  padding: 20px;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: solid grey;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: url(https://www.shutterstock.com/image-photo/cold-foggy-morning-gradation-fog-260nw-2036180120.jpg);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-attachment: fixed;
}
body .logo a {
  text-decoration: none;
  color: rgba(8, 51, 8, 0.671);
}
body .logo h1 {
  margin-left: 20px;
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 600;
}
body .logo a:hover {
  color: rgb(105, 135, 105);
}
body nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 650px;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
body nav ul button {
  border-radius: 10px;
  width: 200px;
  height: 150px;
  background: rgba(222, 226, 230, 0);
  border: none;
}
body nav ul a {
  padding: 40px 40px;
  display: block;
  letter-spacing: 1.5px;
  color: rgb(5, 51, 2);
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
}
body button:hover {
  background: rgba(81, 92, 79, 0.444);
  color: aliceblue;
  -webkit-transition: 1.8s;
  transition: 1.8s;
}
body button:hover a {
  color: aliceblue;
  -webkit-transition: 1.8s;
  transition: 1.8s;
}
body main {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(https://api.sig.biz/media/hqwbe42y/forest.jpg?width=1536&height=1256&format=webp&v=1d9ec7e2d8e3870);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
body main .box1 {
  margin: 30px 30px 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(46, 188, 46, 0);
  border-radius: 20px;
}
body main .box1 img {
  width: 600px;
  height: 100vh;
  padding: 10px;
  border-radius: 20px;
}
body main .box1 p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: start;
  border-radius: 20px;
  background: rgba(128, 128, 128, 0.466);
  padding: 20px 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 35.5px;
}
body main .box2 {
  margin: 30px 30px 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(46, 188, 46, 0);
  border-radius: 20px;
}
body main .box2 img {
  width: 600px;
  height: 100vh;
  padding: 10px;
  border-radius: 20px;
}
body main .box2 p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 20px;
  text-align: start;
  padding: 20px 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 35.5px;
}
body main .box3 {
  width: 100%;
  margin: 30px 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(46, 188, 46, 0);
}
body main .box3 img {
  width: 600px;
  height: 100vh;
  padding: 10px;
  border-radius: 20px;
}
body main .box3 p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: start;
  background: rgba(128, 128, 128, 0.466);
  border-radius: 20px;
  padding: 20px 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 35.5px;
}
body main .about {
  margin: 20px;
  gap: 10px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body main .about .about1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: 33%;
      -ms-grid-row-align: 33%;
      align-self: 33%;
  background: rgba(212, 255, 0, 0);
}
body main .about .about1 img {
  width: 400px;
  padding: 20px;
  border-radius: 20px;
}
body main .about .about1 p {
  margin: 10px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 35, 5px;
  text-align: center;
}
body main .about .about2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: 33%;
      -ms-grid-row-align: 33%;
      align-self: 33%;
  border-radius: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-self: 33%;
  background: rgba(11, 158, 11, 0);
}
body main .about .about2 img {
  width: 400px;
  padding: 20px;
  border-radius: 20px;
}
body main .about .about2 p {
  background: rgba(128, 128, 128, 0.466);
  margin: 10px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 35, 5px;
  text-align: center;
}
body main .about .about3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 30, 0);
  -ms-flex-item-align: 33%;
      -ms-grid-row-align: 33%;
      align-self: 33%;
  border-radius: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-self: 33%;
}
body main .about .about3 img {
  width: 400px;
  padding: 20px;
  border-radius: 20px;
}
body main .about .about3 p {
  margin: 10px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 35, 5px;
  text-align: center;
}
body main .about .project {
  width: 100%;
  height: 600px;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body main .about .project .video {
  border-radius: 20px;
  width: 300px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body main .about .project .video2 {
  width: 300px;
  height: 500px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body main .about .project p {
  border-radius: 20px;
  margin-top: 80px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 35, 5px;
  text-align: center;
  background: rgba(128, 128, 128, 0.466);
  border-radius: 20px;
}
body main p {
  color: antiquewhite;
}
body footer {
  width: 100%;
  height: 350px;
  background: url(https://i.pinimg.com/1200x/1d/ce/8a/1dce8a0a6ef2146ad0b852fca51d0513.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
body footer .text1 {
  gap: 5px;
}
body footer .text1 img {
  width: 18px;
  height: 18px;
}
body footer .text1 {
  padding: 10px;
  letter-spacing: 3px;
  margin-left: 30px;
  text-transform: uppercase;
  color: green;
}
body footer .text2 img {
  width: 18px;
  height: 18px;
}
body footer .text2 {
  padding: 10px;
  letter-spacing: 3px;
  margin-left: 30px;
  text-transform: uppercase;
  color: green;
}
body footer .text3 img {
  width: 18px;
  height: 18px;
}
body footer .text3 {
  padding: 10px;
  letter-spacing: 3px;
  margin-left: 30px;
  text-transform: uppercase;
  color: green;
}
body footer a {
  display: block;
  text-decoration: none;
  color: rgb(6, 69, 6);
}
body footer a:hover {
  color: rgba(1, 75, 15, 0.615);
}
body .about {
  margin: 20px;
  gap: 10px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .about .about1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: 33%;
      -ms-grid-row-align: 33%;
      align-self: 33%;
  background: rgba(212, 255, 0, 0);
}
body .about .about1 img {
  width: 400px;
  padding: 20px;
  border-radius: 20px;
}
body .about .about1 p {
  margin: 10px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 35, 5px;
  text-align: center;
}
body .about .about2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: 33%;
      -ms-grid-row-align: 33%;
      align-self: 33%;
  border-radius: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-self: 33%;
  background: rgba(11, 158, 11, 0);
}
body .about .about2 img {
  width: 400px;
  padding: 20px;
  border-radius: 20px;
}
body .about .about2 p {
  background: rgba(128, 128, 128, 0.466);
  margin: 10px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 35, 5px;
  text-align: center;
}
body .about .about3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 30, 0);
  -ms-flex-item-align: 33%;
      -ms-grid-row-align: 33%;
      align-self: 33%;
  border-radius: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-self: 33%;
}
body .about .about3 img {
  width: 400px;
  padding: 20px;
  border-radius: 20px;
}
body .about .about3 p {
  margin: 10px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 35, 5px;
  text-align: center;
}
body .about .project {
  width: 100%;
  height: 600px;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .about .project .video {
  border-radius: 20px;
  width: 300px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .about .project .video2 {
  width: 300px;
  height: 500px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .about .project p {
  border-radius: 20px;
  margin-top: 80px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 35, 5px;
  text-align: center;
  background: rgba(128, 128, 128, 0.466);
  border-radius: 20px;
}
body .donation {
  border-top: solid grey;
  margin-top: 100px;
  margin-bottom: 90px;
  padding-top: 100px;
  width: 100%;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
body .donation .card-body {
  background: transparent;
}
body .donation label {
  color: antiquewhite;
}
body .green {
  width: 100%;
  margin-top: 100px;
  padding-top: 100px;
  border-top: solid grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .green .future {
  margin: 30px;
  gap: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: rgba(128, 128, 128, 0.271);
}
body .green .future .sort img {
  width: 200px;
  height: 230px;
}
body .green .future .sort p {
  width: 400px;
  padding: 20px 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 35.5px;
  text-align: center;
  border-radius: 20px;
}
body .landscape {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .landscape .scape {
  background-color: rgba(128, 128, 128, 0.314);
  margin: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 200px;
}
body .landscape .scape p {
  width: 600px;
  color: antiquewhite;
  padding: 20px 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 35.5px;
  text-align: center;
}
body .landscape .scape img {
  width: 250px;
  height: 170px;
}

@media screen and (max-width: 1100px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header nav #home {
    display: none;
  }
  header nav #about {
    display: none;
  }
  header nav #con {
    display: none;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .box1 img {
    display: none;
  }
  main .box2 img {
    display: none;
  }
  main .box3 img {
    display: none;
  }
  main .about img {
    display: none;
  }
  main .about .project {
    display: none;
  }
  main .about .project p {
    display: none;
  }
  main .landscape .scape {
    max-width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .landscape .scape img {
    width: 320px;
    height: 240px;
  }
  main .landscape .scape p {
    max-width: 800px;
  }
}
@media screen and (max-width: 800px) {
  section {
    min-width: 320px;
  }
  section header {
    min-width: 320px;
  }
  section header h1 {
    width: 50px;
    height: 50px;
  }
  section main .box1 img {
    max-width: 200px;
  }
  section main .box1 p {
    display: none;
  }
  section main .box2 img {
    max-width: 200px;
  }
  section main .box2 p {
    display: none;
  }
  section main .box3 img {
    max-width: 200px;
  }
  section main .box3 p {
    display: none;
  }
  section main .about {
    display: none;
  }
  section main .donation {
    min-width: 320px;
    height: 300x;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  section main .landscape .scape {
    max-width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section main .landscape .scape p {
    max-width: 320px;
  }
  section main .green .future {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section main .green .future p {
    max-width: 320px;
  }
}