.box2 {
    margin: 30px 30px 0 0  ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #2ebc2e00;
    border-radius: 20px;
    



    img {
        width: 600px;
        height: 100vh;
        padding: 10px;
        border-radius: 20px;

    }

    p {
        display: flex;
        align-items: center;
        width: 100%;
        border-radius: 20px;
        text-align: start;
        padding: 20px 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px;
        line-height: 35.5px;

       




    }
}