footer {
    width: 100%;
    height: 350px;
    // margin-top: 40px;
    background:url(https://i.pinimg.com/1200x/1d/ce/8a/1dce8a0a6ef2146ad0b852fca51d0513.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;

    .text1 {
        gap: 5px;
        img {
            width: 18px;
            height: 18px;
        }

        padding: 10px;
        letter-spacing: 3px;
        margin-left: 30px;
        text-transform: uppercase;
        color: green;
    }

    .text2 {
        img {
            width: 18px;
            height: 18px;
        }

        padding: 10px;
        letter-spacing: 3px;
        margin-left: 30px;
        text-transform: uppercase;
        color: green;
    }

    .text3 {
        img {
            width: 18px;
            height: 18px;
        }

        padding: 10px;
        letter-spacing: 3px;
        margin-left: 30px;
        text-transform: uppercase;
        color: green;
    }

    a {
        display: block;
        text-decoration: none;
        color: rgb(6, 69, 6);
    }
    a:hover{
        // background-color: rgba(28, 146, 10, 0.447);
        color: rgba(1, 75, 15, 0.615);
    }




}