.green {
    width: 100%;
    margin-top: 100px;
    padding-top: 100px;
    border-top: solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;

    .future {
        margin: 30px;
        gap: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background: rgba(128, 128, 128, 0.271);



        .sort {
            img {
                width: 200px;
                height: 230px;
            }

            p {
                width: 400px;
                padding: 20px 20px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 20px;
                line-height: 35.5px;
                text-align: center;
                border-radius: 20px;


            }


        }


    }


}