header {
    width: 100%;
    height: 150px;
    padding: 20px;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    display: flex;
    border-bottom: solid grey;
    align-items: center;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(https://www.shutterstock.com/image-photo/cold-foggy-morning-gradation-fog-260nw-2036180120.jpg);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-attachment: fixed;

}


.logo {

    a {
        text-decoration: none;
        color: rgba(8, 51, 8, 0.671);
    }

    h1 {
        margin-left: 20px;
        font-size: 40px;
        letter-spacing: 4px;
        font-weight: 600;
    }
    a:hover{
        color: rgb(105, 135, 105);
    }
}

nav {
    display: flex;
    width: 650px;
    height: 80px;
    // border: solid;
    align-items: center;
    // justify-content: space-between;


    ul {
        list-style: none;
        display: flex;
        gap: 10px;

        button {

            border-radius: 10px;
            width: 200px;
            height: 150px;
            background: #dee2e600;
            border: none;
        }

        a {
            padding: 40px 40px;
            display: block;
            letter-spacing: 1.5px;
            color: rgb(5, 51, 2);
            text-decoration: none;
            text-transform: capitalize;
            font-size: 20px;

        }
    }
}


button:hover {
    background: rgba(81, 92, 79, 0.444);
    color: aliceblue;
    transition: 1.8s;

    a {
        color: aliceblue;
        transition: 1.8s;
    }
}