.landscape {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

.scape {
    background-color: rgba(128, 128, 128, 0.314);
    margin:40px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;

    p {

        width: 600px;
        color: antiquewhite;
        padding: 20px 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px;
        line-height: 35.5px;
        text-align: center;


    }

    img {
        width: 250px;
        height: 170px;
    }

}

}

    